@font-face{
    font-family: 'bauhs93';
    src: url('./bauhs93.ttf')
}
@font-face{
    font-family: 'HelveticaExt-Normal';
    src: url('./HelveticaExt-Normal.ttf')
}
@font-face{
    font-family: 'biminbold';
    src: url('./biminbold.ttf')
}