* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
li {
  list-style-type: none;
}
.ab {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.inner-banner {
  background-size: 19.2rem 54rem;
  width: 19.2rem;
  height: 4.5rem;
  background-image: url('../img/banner.jpg');
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
