*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
li{
    list-style-type: none;
}
.ab{
    position: absolute;
}
.fixed{
    position: fixed;
}
.flex{
    display: flex;
    display: -webkit-flex;
}